{% extends 'base.html.twig' %}

{% block title %}{% trans %}barcode_info_title{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/form.css') }}">
{% endblock %}
{% block body %}
    <div class="center-container">
        <h3>{% trans %}barcode_info_title{% endtrans %}</h3>
        <form id="barcode_info_form">
            <div class="form-group">
                <input id="barcode" type="text" name="barcode" placeholder="{% trans %}barcode_info_hint{% endtrans %}...">
            </div>
            <div class="form-group">
                <button type="submit" class="button">{% trans %}barcode_info_button{% endtrans %}</button>
            </div>
        </form>
    </div>
    <div
            style="display: none"
            id="translate"
            data-valid_from_title="{% trans %}barcode_info_valid_from_modal_title{% endtrans %}"
            data-valid_till_title="{% trans %}barcode_info_valid_till_modal_title{% endtrans %}"
            data-count_usage_title="{% trans %}barcode_info_count_usage_modal_title{% endtrans %}"
            data-max_count_usage_title="{% trans %}barcode_info_max_count_usage_modal_title{% endtrans %}"
            data-close_title="{% trans %}barcode_info_close_modal_action_title{% endtrans %}"
    ></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/barcode') }}
{% endblock %}
