{% extends 'base.html.twig' %}

{% block title %}{% trans %}main_page_title{% endtrans %}{% endblock %}

{% block body %}

<div class="center-container">
    <h1>{% trans %}main_page_greetings_description{% endtrans %}</h1>
    <p>{% trans %}main_mage_login_description{% endtrans %}</p>
    <p>{% trans %}main_mage_register_description{% endtrans %}</p>
</div>
{% endblock %}
