{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="center-container">
    <h1>Welcome to the LNTU department control CRM!</h1>
    <p>Login to use it</p>
    <p>You can take account with your head of department or system administrator</p>
</div>
{% endblock %}
