html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 65px;
    background-color: rgba(240, 240, 240, 0.5);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

main {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    margin-top: 65px;
    margin-bottom: 65px;
}

footer {
    height: 65px;
    background-color: rgba(240, 240, 240, 0.5);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

header > .logo > img {
    height: 65px;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin-right: 20px;
}

.navigation a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navigation-footer {
    margin-left: 45%;
}

.navigation-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation-footer {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-footer li {
    margin-right: 20px;
}

.navigation-footer a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.info-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.info-button:hover {
    background-color: #0056b3;
}

h2 {
    color: #333;
}

label {
    color: #555;
}

.title {
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-left: 70px;
    width: 150px;
}

.description {
    color: #555;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.center-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.full-container {
    max-width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-list {
    max-width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
}

.remove-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #e80202;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
}

.create-button:hover {
    background-color: #45a049;
}

.divider-horizontal {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 0 10px;
}

.sell-button {
    position: absolute;
    font-size: 0.9rem;
    top: 10px;
    left: 10px;
    background-color: #4c91af;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.sell-button:hover {
    background-color: #455aa0;
}
