body {
    background-color: skyblue;
     font-family: 'Arial', sans-serif;
     margin: 0;
     padding: 0;
 }

h2 {
    color: #333;
}

label {
    color: #555;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.full-container {
    max-width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-list {
    max-width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
}

.create-button:hover {
    background-color: #45a049;
}

.create-product-button {
    margin-top: 20px;
}
