.form-group {
    margin-bottom: 15px;
}

.error-message {
    color: red;
    margin-top: 5px;
    text-align: center;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    margin-right: 10px;
    width: 100px;
    text-align: left;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="checkbox"] {
    flex: 1;
    padding: 8px 0;
    margin-right: 10px;
    width: 230px;
}

.form-group input[type="checkbox"],
.form-group select{
    margin-right: 0;
}

.input-field, textarea, select {
    /*width: 100%;*/
    padding: 8px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group select{
    width: 240px;
    padding-right: 0;
}

.form-group textarea{
    width: 240px;
    padding-right: 0;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.right-form-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 15px;
}
