h2 {
    text-align: center;
    color: #333;
}
/*todo refactor all file with usage app.css*/
form {
    display: flex;
    flex-direction: column;
}

form > div {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #555;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p {
    margin-top: 10px;
}

#registration_form_agreeTerms {
    margin-top: -20px;
}