{% extends 'base.html.twig' %}

{% block title %}{% trans %}info_contact_page_title{% endtrans %}{% endblock %}


{% block body %}
    <div class="center-container">
        <p style="text-align: center"><a href="tel:+38 (0332) 74-61-23">+38 (0332) 74-61-23</a></p>
        <p style="text-align: center"><span>вулиця Львівська, 75, Луцьк, Волинська область, 43000</span></p>
        <iframe allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5051.558428516534!2d25.2980311!3d50.7240351!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4725999f6e2df683%3A0xf91cf1fdf1ea3404!2z0KHQv9C-0YDRgtC60L7QvNC_0LvQtdC60YEg0JvQndCi0KM!5e0!3m2!1suk!2sua!4v1652300955972!5m2!1suk!2sua" style="border:0; width:100%; height: 450px;"></iframe>
    </div>
{% endblock %}
