{% extends 'base.html.twig' %}

{% block body %}
    <div class="center-container">
        <h1>403 {% trans %}error_page_forbidden{% endtrans %}</h1>
        <p>{% trans %}error_page_forbidden_description{% endtrans %}</p>
    </div>
{% endblock %}
