{% extends 'base.html.twig' %}

{% block body %}
    <div class="center-container">
        <h3>{% trans %}error_page_page_not_found{% endtrans %}</h3>

        <a href="{{ path('main') }}"><button class="button">{% trans %}error_page_page_to_main_page{% endtrans %}</button></a>.
    </div>
{% endblock %}
