{% extends 'base.html.twig' %}

{% block title %}403 Forbidden{% endblock %}

{% block body %}
    <div class="center-container">
        <h1>403 Forbidden</h1>
        <p>Access to this resource is forbidden.</p>
    </div>
{% endblock %}
