{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>{% trans %}error_page_head_text{% endtrans %} 500</h2>
        <p>{% trans %}error_page_apologize_text{% endtrans %}</p>
        <p>{% trans %}error_page_contact_us_head{% endtrans %}</p>
    </div>
{% endblock %}
